<div id="<%= dom_id promotion %>">
  <p>
    <strong>Promo type:</strong>
    <%= promotion.promo_type %>
  </p>

  <p>
    <strong>Value:</strong>
    <%= promotion.value %>
  </p>

  <p>
    <strong>Start time:</strong>
    <%= promotion.start_time %>
  </p>

  <p>
    <strong>End time:</strong>
    <%= promotion.end_time %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= promotion.category_id %>
  </p>

  <p>
    <strong>Item:</strong>
    <%= promotion.item_id %>
  </p>

</div>
